.blogLayout {
    display: flex;
    justify-content: space-around;
    padding: 0px;
  }

  .header{
  background-color: #B5BEC7;
  overflow: hidden;

  }

  .container {
    text-align: center;
    width:100%;
    
    font-family: 'Zilla Slab', serif;
  }