.blogLayout {
    display: flex;
    padding: 0px;
   

  }

  .sidebar{
    justify-self: flex-end;
  }

  .con{
    width: 75%;
  }

  .header{
  background-color: #B5BEC7;
  overflow: hidden;
  height: 24%;

  }

  .container {
    text-align: center;
    width:100%;
    
    font-family: 'Zilla Slab', serif;
  }


  @media (max-width: 768px) {
   .sidebar{
    display: none;
   }
    

  }