@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap');

.header {
  
  margin-top: 1%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5%;
  font-family: 'Zilla Slab', serif;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: -1%;
}




.styled{
margin-bottom: 0.8rem;
margin-left: 1rem;
font-size: 24px;
color: black;


}


.navItem {
  color: black;
  transition: color 0.3s ease;
  text-decoration: none;
  padding: 1rem 2rem;
  
}

.navItem:hover {
  color: black; 
  background-color: white; 
  border-radius: 15px;
  padding: 1rem 2rem;
}

.navItemActive {
  color: white; 
  background-color: black; 
  border-radius: 15px;
  padding: 1rem 2rem;
  
  
}

.logo {
  height: auto; /* Maintain aspect ratio */
  width: 150px; /* Adjust width as needed */
}

.logoContainer {
   /* This will push the logo container to the right */
  padding-right: 1rem; /* You can adjust this to increase the space from the right edge */
  align-self:flex-end;
  align-items: flex-end;
}

.mobileOnly{
  display: none;
}

@media (max-width: 768px) {
  .header {
    justify-content: space-between; /* Align logo to left and hamburger to right */
  }

  .mobileOnly{
    display: block;
  }

  .logo {
    height: auto; /* Maintain aspect ratio */
    width: 5rem; /* Adjust width as needed */
  }

  .navItem, .navItemActive {
    display: none; /* Hide the text links on mobile */
  }

  .logoContainer {
    display: block;
    width: auto;
  }

  .menuIcon {
    display: block; /* Show the menu icon on mobile */
    width: 40px; /* Adjust size as needed */
    height: 40px; /* Adjust size as needed */
  }


  .mobileMenu {
    display: block; /* Show when the menu is toggled */
    position: absolute;
    width: 100%;
     /* Adjust to your header's height */
    left: 0;
    background: white;
    border-top: 1px solid #ccc;
    text-align: left;
    padding: 10px 20px;
  }

  


}