/* styles/InquiryPage.module.css */
.main {
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    font-family: 'Zilla Slab', serif;
  }
  
  .title {
    font-size: 2.8rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: black; /* Adjust color to match the design */
  }

  .background{

    background-image: url('/chair.jpeg');
    background-position: center;
    background-size: cover;

  }
  
  .subtitle {
    font-weight: 600;
    font-size: 1.7rem;
    margin-bottom: 2rem;
    color: black; /* Adjust color to match the design */
  }
  
  .form {
    display: flex;
    flex-direction: column;
    font-family: 'Zilla Slab', serif;
  }
  
  .input,
  .textarea {
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
    
    margin-bottom: 1rem;
    border: 1px solid black; /* Adjust border to match the design */
    border-radius: 4px;
    font-family: 'Zilla Slab', serif;
  }


  
  .textarea {
    min-height: 100px;
    font-family: 'Zilla Slab', serif;
  }

  .input:focus{
    outline: none;
    border:2px solid black;
  }

  .textarea:focus{
    outline: none;
    border:2px solid black;


  }
  
  .checkboxContainer {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    font-weight: 600;
    justify-content: space-between;
  }

  .flex{
 display: flex;
 gap:0.7rem;

  }
  
  .button {
    align-self: flex-end;
    font-family: 'Zilla Slab', serif;
    padding: 0.5rem 1rem;
    background-color: white; /* Adjust background color to match the design */
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    border-width: 2px;
    width: 25%;
    border-style: solid;
    border-color: black;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  }
  
  .button:hover {
    background-color: black; /* Adjust hover state color to match the design */
    color: white;
  }
  