
.productItem {
  display: flex;
  flex-direction: column;
  overflow:visible;
  justify-items: flex-start;
  text-align: left;
  box-sizing: border-box;
  position: relative;
  

}


.productItem:hover .image {
  transition: transform 0.3s ease;
  transform: scale(1.05); 
  font-weight: bolder;
  overflow: hidden;
}

.productItem:hover h3 {
  font-weight: bold;
}





.image {
  display: inline-block;
  margin-bottom: 0.5rem;
  object-fit: cover;
  width: 250px;
  height: 300px;
  overflow: hidden;
}

.image:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  overflow: hidden;
}

.flex{
display: flex;
gap: 2%;

}

.title {
  font-size: 1.1rem;
  color:black;
  font-weight: 600;
}

.price {
  font-family: 'Zilla Slab', serif;
font-weight: 600;
  font-size: 1rem;
  color: black;
}

.rating {
  color: black;
  margin-top: 1.3%;
}